@charset "UTF-8";
* {
  font-family: "Josefin Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  color: black;
}

/*Celulares header*/
.header {
  height: 10rem;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
}

.nav-link {
  color: black;
  text-decoration: none;
}

.logo {
  cursor: pointer;
  margin-left: 4rem;
}
.logo img {
  height: 10rem;
  width: auto;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  position: fixed;
  top: 8.4rem;
  width: 100%;
  padding: 2rem 0;
  height: 100%;
  overflow-y: auto;
  left: 100%;
  transition: 0.3s;
  background-color: #04b44c;
  z-index: 2;
}

.nav-menu-item {
  font-size: 3rem;
  margin: 0 1rem;
  width: max-content;
  padding: 1.5rem;
}

.nav-menu-link:hover {
  color: white;
}

.nav-toggle {
  color: black;
  background: none;
  border: none;
  font-size: 3rem;
  padding: 0 2rem;
  line-height: 6rem;
  display: block;
}

.nav-menu_visible {
  left: 0;
}

/*Finalizando Navbar celulares*/
/*Iniciando navbar computadoras y tablets*/
@media (min-width: 768px) {
  .nav-menu {
    flex-direction: row;
    margin-right: 4rem;
    position: static;
    width: fit-content;
    background-color: white;
  }
  .nav-menu-item {
    font-size: 2rem;
    width: max-content;
    padding: 0;
  }
  .nav-menu-link:hover {
    color: #04b44c;
    transition: 0.5s;
  }
  .nav-toggle {
    display: none;
  }
  .nav-menu-item {
    font-size: 2rem;
  }
}
/*Finalizando Navbar computadoras y tablets*/
/*Empezando hero todas las páginas celular*/
.hero {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
}

.hero__left {
  padding: 2rem;
  padding-top: 3rem;
  width: 90%;
  margin: 0 auto;
}
.hero__left p {
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 5rem;
}

.hero__right {
  padding: 0rem;
  width: 95%;
  margin: 0 auto;
}
.hero__right img {
  height: 35rem;
  width: 95%;
}

.button {
  padding: 1rem 2rem;
  background: #04b44c;
  color: white;
  border-radius: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

/*Terminando Hero todas las paginas celular*/
/*Empezando hero todas las páginas computadora*/
@media (min-width: 768px) {
  .hero {
    flex-direction: row;
    padding: 3rem 0;
    margin: 2rem 0;
  }
  .hero__left {
    padding-top: 0rem;
    margin: auto 0;
    width: 50%;
  }
  .hero__right {
    width: 50%;
    margin: 0;
  }
  .hero__right img {
    width: 95%;
  }
  .hero__right .image {
    height: 53rem;
    width: auto;
  }
}
/*Terminando Hero todas las paginas computadora*/
footer {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1.7rem;
  margin: auto 0;
  padding: 2rem;
}

/*terminando footer*/
@media (min-width: 768px) {
  .invert {
    order: -1;
  }
  /*Empezando seccion ppc.html*/
  .flex {
    flex-direction: column;
  }
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  }
}
/*Terminando section para mobile*/
/*Empezando section para computadora*/
.info-section {
  width: 60%;
  margin: 0 auto;
  box-shadow: 0 0 10rem 0 rgba(0, 0, 0, 0.15);
  padding: 1.7rem 1.2rem 1.2rem 1.2rem;
  margin-top: 3rem;
  border-radius: 1.6rem;
}
.info-section h3 {
  width: 100%;
  color: black;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.info-cards {
  background-color: #04b44c;
}
.info-cards img {
  width: auto;
  height: 60rem;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.col-md-2 img {
  height: 100%;
}

.google-cards {
  padding: 3.2rem 1.8rem 3.2rem 0;
  width: 50%;
  text-align: center;
  box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.3);
  border-radius: 1.6rem;
  margin: 2rem;
  margin-bottom: 5rem;
  padding: 0;
  display: flex;
  align-items: center;
  vertical-align: middle;
}
.google-cards img {
  height: auto;
  width: 25rem;
}

.google-cards__section {
  width: 33.33%;
}

.google-cards__item {
  padding: 2rem;
  text-align: left;
}

.google-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*Tarjetas ppc celulares*/
.ppc__card {
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.6);
  border-radius: 1.6rem;
  margin: 2rem;
  margin-bottom: 5rem;
  padding: 0;
}
.ppc__card .ppc__card__img {
  width: 100%;
}
.ppc__card .ppc__card__text {
  width: 90%;
  margin: 0 auto;
}
.ppc__card .ppc__card__text h2 {
  font-size: 3rem;
  font-weight: 700;
}
.ppc__card .ppc__card__text p {
  font-size: 2rem;
}

/*Termina ppc de celulares*/
/*Empieza ppc comptuadoras*/
@media (min-width: 768px) {
  .ppc__flex {
    display: flex;
    flex-direction: row;
  }
  .ppc__card {
    display: flex;
    flex-direction: row;
    text-align: center;
    box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.6);
    border-radius: 1.6rem;
    margin: 2rem;
    margin-bottom: 5rem;
    padding: 0;
    width: 50%;
  }
  .ppc__card .ppc__card__img {
    width: 50%;
  }
  .ppc__card .ppc__card__img .img-fluid {
    height: auto;
    width: 100%;
  }
  .ppc__card .ppc__card__text {
    width: 50%;
    padding: 1.5rem;
    margin: auto 0;
  }
  .ppc__card .ppc__card__text h2 {
    font-size: 2.9rem;
  }
  .ppc__card .ppc__card__text p {
    font-size: 1.9rem;
  }
}
/*Tarjetas PPC celulares*/
.list {
  box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.6);
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 1.5rem auto;
  padding: 0 4rem;
}
.list h3 {
  font-size: 7rem;
  font-weight: 700;
  padding: 0;
  margin: 0;
  color: #04b44c;
}
.list p {
  padding: s0;
  margin: 0;
  font-size: 2rem;
  text-align: center;
}

/*finaliza Lista celulares*/
@media (min-width: 768px) {
  .list {
    box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.6);
    border-radius: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 1.5rem auto;
    padding: 0 4rem;
  }
  .list h3 {
    font-size: 7rem;
    font-weight: 700;
    padding: 1rem 1rem 1rem 0.5rem;
    margin: 0;
    color: #04b44c;
  }
  .list p {
    padding: 1rem 2rem;
    margin: 0;
    font-size: 2rem;
  }
}
/*Lista celulares*/
/*Empezando sección servicios index.html*/
.title {
  text-align: center;
  font-size: 4rem;
  padding: 3rem 1rem;
}

.card {
  border-radius: 2rem;
  box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.5);
  height: 100%;
}
.card a {
  padding: 1rem 2rem;
  background: #04b44c;
  color: white;
  width: 50%;
  border-radius: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  margin: 0 auto;
}
.card img {
  width: 100%;
}

/*Terminando Servicios index.html*/
/*Empezando sección index.html*/
.card-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #04b44c;
  width: 100%;
}

.card_info {
  padding: 3rem;
  line-height: 2rem;
  width: 95%;
  text-align: center;
  background-color: #04b44c;
}
.card_info h2 {
  color: black;
  font-size: 10rem;
  font-weight: 700;
  margin: 0.5rem;
}
.card_info h3 {
  color: black;
  font-size: 10rem;
  font-weight: 700;
  margin: 3.5rem;
}
.card_info .p {
  font-size: 3rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  .card-group {
    display: flex;
    flex-direction: row;
  }
  .card_info {
    width: 33.33%;
  }
  .card_info h2 {
    margin: 1rem;
  }
}
/*Terminando sección index.html*/

/*# sourceMappingURL=style.css.map */
