@media (min-width: 768px) {
  .invert {
    order: -1;
  }
  /*Empezando seccion ppc.html*/
  .flex {
    flex-direction: column;
  }
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  }
}
/*Terminando section para mobile*/
/*Empezando section para computadora*/
.info-section {
  width: 60%;
  margin: 0 auto;
  box-shadow: 0 0 10rem 0 rgb(0 0 0 / 15%);
  padding: 1.7rem 1.2rem 1.2rem 1.2rem;
  margin-top: 3rem;
  border-radius: 1.6rem;
  h3 {
    width: 100%;
    color: black;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
  }
}
.info-cards {
  background-color: #04b44c;
  img {
    width: auto;
    height: 60rem;
  }
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.col-md-2 img {
  height: 100%;
}
.google-cards {
  padding: 3.2rem 1.8rem 3.2rem 0;
  width: 50%;
  text-align: center;
  box-shadow: 0 0 1.5rem 0 rgb(0 0 0 / 30%);
  border-radius: 1.6rem;
  margin: 2rem;
  margin-bottom: 5rem;
  padding: 0;
  display: flex;
  align-items: center;
  vertical-align: middle;
  img {
    height: auto;
    width: 25rem;
  }
}
.google-cards__section {
  width: 33.33%;
}
.google-cards__item {
  padding: 2rem;
  text-align: left;
}
.google-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/*Tarjetas ppc celulares*/
.ppc__card {
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 0 1.5rem 0 rgb(0 0 0 / 60%);
  border-radius: 1.6rem;
  margin: 2rem;
  margin-bottom: 5rem;
  padding: 0;
  .ppc__card__img {
    width: 100%;
  }
  .ppc__card__text {
    width: 90%;
    margin: 0 auto;
    h2 {
      font-size: 3rem;
      font-weight: 700;
    }
    p {
      font-size: 2rem;
    }
  }
}
/*Termina ppc de celulares*/

/*Empieza ppc comptuadoras*/
@media (min-width: 768px) {
  .ppc__flex {
    display: flex;
    flex-direction: row;
  }
  .ppc__card {
    display: flex;
    flex-direction: row;
    text-align: center;
    box-shadow: 0 0 1.5rem 0 rgb(0 0 0 / 60%);
    border-radius: 1.6rem;
    margin: 2rem;
    margin-bottom: 5rem;
    padding: 0;
    width: 50%;
    .ppc__card__img {
      width: 50%;
      .img-fluid {
        height: auto;
        width: 100%;
      }
    }
    .ppc__card__text {
      width: 50%;
      padding: 1.5rem;
      margin: auto 0;
      h2 {
        font-size: 2.9rem;
      }
      p {
        font-size: 1.9rem;
      }
    }
  }
}
/*Tarjetas PPC celulares*/
